services:
  redis:
    image: redis:7
    # command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./redis/data:/data
    networks:
      - openresty_network
  openresty:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: openresty
    ports:
      - "8080:80"
    volumes:
      - ./config/nginx.conf.dev:/usr/local/openresty/nginx/conf/nginx.conf
      - ./app:/app
      - ./cache:/disk-cache
      - ./maxminddb:/maxminddb
      - ./tls:/app/tls/
    environment:
      - DNS_SERVERS=8.8.4.4,8.8.8.8
      - REDIS_PASSWORD=
      - REDIS_HOST=redis
      - REDIS_TIMEOUT=3000
      - REDIS_PORT=6379
    depends_on:
      - redis
    networks:
      - openresty_network
networks:
  openresty_network:
    driver: bridge
